.app-header {
    display: flex;
    background-color: #263238;
    height: 40px;
    padding-top: 20px;
}

.app-logo {
    color: #fff;
    vertical-align: middle;
      font-size: 18px;
     
}

.avatar {
    margin-left: auto;
}

.search{
    
    border-radius: 25px;
    marginLeft: 0;
    width: 300px;
    background-color: #c0c0c0;
}